.__accordion {
   width: 75%;
   margin: auto;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
   border-radius: 8px;
   overflow: hidden;
   height: 3.75rem;
   transition: height .5s;
   @media screen and (max-width: 991px) {
      width: 100%;
   }
   .accordion__header {
      border-radius: 8px;
      width: 100%;
      height: 3.75rem;
      background-color: $color-2;
      backdrop-filter: blur(13px);
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 600;
      color: $color-3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: border-radius .5s, background-color .3s;
      cursor: pointer;
      &:hover, &.active {
         color: $white;
         background-color: $color-5;
      }
      .toggleBtn {
         width: 1.6rem;
         height: 1.46625rem;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         &::before, &::after {
            content: '';
            position: absolute;
            width: 1.6rem;
            height: 2px;
            background: $white;
            transition: $trans;
         }
         &::before {
            transform: translateY(-10px);
            box-shadow: 0 10px $white;
         }
         &::after {
            transform: translateY(10px);
         }
      }
   }
   .accordion__body {
      width: 100%;
      height: calc(100% - 3.75rem);
      backdrop-filter: blur(20px);
      line-height: 1.3;
      overflow-y: scroll;
      &::-webkit-scrollbar {
         width: 6px; /* Safari and Chrome */
      }
      &::-webkit-scrollbar-track {
         background: transparent;
      }
      &::-webkit-scrollbar-thumb {
         position: absolute;
         background-color: $color-6;
         border-radius: 2px;
      }
      h6 {
         background: transparent;
         text-transform: uppercase;
         font-size: .95rem;
         color: $color-3;
      }
      .compLink {
         font-size: .8rem;
         display: flex;
         align-items: center;
         a {
            color: $color-5;
            text-decoration: underline;
         }
      }
      .duration {
         font-size: .7rem;
         text-transform: uppercase;
      }
      .compDesc {
         font-size: .8rem;
         color: $color-3;
         text-align: justify;
      }
      .desc {
         .responsibility {
            color: $color-5;
         }
         ul {
            li {
               color: $color-3;
               font-size: .9rem;
            }
         }
         .techUsed {
            li {
               font-weight: 600;
               color: $color-5;
            }
         }
      }
   }
   &.show {
      height: 21rem;
      .accordion__header {
         border-radius: 8px 8px 0 0;
         .toggleBtn {
            &::before {
               transform: translateY(0px) rotate(45deg);
               box-shadow: 0 0 $white;
            }
            &::after {
               transform: translateY(0px) rotate(-45deg);
            }
         }
      }
   }
}
